<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ciutats, Províncies i Països</title>
    <link rel="stylesheet" type="text/css" href="/css/llistatGeneral.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>Gestió de Ciutats, Províncies i Països</h1>
</header>

<div class="menu-container">
    <div class="menu-item">
        <a href="/llistats/ciutats">Llistat de Ciutats</a>
        <p style="color: #718096; margin-top: 10px; font-size: 14px;">Visualitza totes les ciutats</p>
    </div>
    <div class="menu-item">
        <a href="/llistats/provincies">Llistat de Provincies</a>
        <p style="color: #718096; margin-top: 10px; font-size: 14px;">Visualitza totes les provincies</p>
    </div>
    <div class="menu-item">
        <a href="/llistats/paisos">Llistat de Paisos</a>
        <p style="color: #718096; margin-top: 10px; font-size: 14px;">Visualitza tots els paisos</p>
    </div>
    <div class="menu-item">
        <a href="/llistats/festes">Llistat de Festes i Events</a>
        <p style="color: #718096; margin-top: 10px; font-size: 14px;">Visualitza totes les festes i events</p>
    </div>
</div>


</body>
</html>
