<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Llistat de Ciutats</title>
    <link rel="stylesheet" type="text/css" href="/css/llistatGeneral.css">
</head>
<body>

<header>
    <h1>Llistat de Ciutats</h1>
</header>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Població</th>
        <th>Descripció</th>
        <th>Imatge</th>
        <th>Província</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ciutat : ${ciutats}">
        <td th:text="${ciutat.id}"></td>
        <td th:text="${ciutat.nom}"></td>
        <td th:text="${ciutat.poblacio}"></td>
        <td th:text="${ciutat.descripcio}"></td>
        <td>
            <img th:if="${ciutat.imatge}" th:src="${ciutat.imatge}" alt="Imatge de la ciutat"/>
            <span th:if="${ciutat.imatge == null}">Sense imatge</span>
        </td>
        <td th:text="${ciutat.provincia.nom}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
